.App {
    text-align: center;
    height: 100vh;
    max-height: 100vh;
}

.main-component, .main-cat-container, .searchResult-component, .recipe-container {
    padding-top: 135px;
    background-image: url('https://vectr.com/tmp/c4nFrG2fPH/e11XqADDG9.svg?width=640&height=640&select=e11XqADDG9page0');
    background-size: 10%;
    //background-repeat: no-repeat;
    background-position: center;
    min-height: 100%;
    background-attachment: fixed;  
}

@media (max-width: 768px) {
    .main-component, .main-cat-container, .searchResult-component {
        padding-top: 180px;
    }
}
