.main-header {
    width: 50%;
    background-image: url('./pexels-anna-tukhfatullina-food-photographerstylist-2611814.jpg');
    height: 100vh;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}