@import '../../styles/vars';

.main-header {
    width: 100%;
    background-size: cover;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    position: fixed;
    top: 0;
    z-index: 100;
    background-color: $color-blue-3;
    color: $color-blue-dark;
    &-input {
        margin-left: 2.5em;
    }
    &-group-1 {
        display: flex;
        padding: 0.5em 0;
    }
}
 @media (max-width: 768px) {
     .main-header {
         justify-content: center;
         &-group-1 {
             display: block;
         }
     }
 }