.main-header {
    width: 100%;
    /* background-image: url('./pexels-anna-tukhfatullina-food-photographerstylist-2611814.jpg'); */
    background-size: cover;
    display: flex;
    justify-content: flex-start;
    margin: 0.5em;
    &-input {
        margin-left: 2.5em;
    }
}