@import '../../styles/vars';

.custom-card-container {
display: flex;
align-items: center;
justify-content: center;
//height: 100vh;
margin: 1em;
background: none;

&:hover {
    background-color: $color-blue-dark;
    border-radius: 6px;
    & .card {
        margin: 0.8em;
    }
}
}

.card {
    position: relative;
    background: $color-blue-3;
    //width: 400px;
    //height: 75vh;
    border-radius: 6px;
    padding: 2rem;
    color: #aaa;
    box-shadow: 0 .25rem .25rem rgba(0,0,0,0.2),
        0 0 1rem rgba(0,0,0,0.2);
    overflow: hidden;

    &__image-container {
        margin: -2rem -2rem 1rem -2rem;
    }

    &__line {
        opacity: 0;
        animation: LineFadeIn .8s .3s forwards ease-in;
    &_2 {
        opacity: 0;
        animation: LineFadeIn2 .8s .3s forwards ease-in;
    }
    &_3 {
        opacity: 0;
        animation: LineFadeIn3 .8s .3s forwards ease-in;
    }
    }

    &__image {
        opacity: 0;
        animation: ImageFadeIn .8s 1.4s forwards;
    }

    &__title {
        color: white;
        margin-top: 0;
        font-weight: bold;
        letter-spacing: 0.01em;
    }

    &__content {
        //background-color: #04049d;
        margin-top: -1rem;
        opacity: 0;
        animation: ContentFadeIn .4s .8s forwards;
    }

    &__svg {
        position: absolute;
        left: 0;
        top: 115px;
    }
}

@keyframes LineFadeIn {
    0% { opacity: 0; d: path("M 0 400 Q 0 400 0 400 Q 0 400 0 400 Q 0 400 0 400 C 0 400 0 400 0 400 Q 0 400 0 400 "); stroke: #fff; }
    50% { opacity: 1; d: path("M 0 400 Q 50 400 100 400 Q 250 400 350 400 C 350 400 500 400 650 400 Q 675 400 700 400 Q 790 400 800 400"); stroke: $color-beige-orange; }
    100% { opacity: 1; d: path("M -2 370 Q 50 370 100 370 Q 250 370 350 370 C 400 370 550 370 650 370 Q 675 370 700 370 Q 790 370 800 500"); stroke: $color-beige; }
  }

@keyframes LineFadeIn2 {
0% { opacity: 0; d: path("M 0 430 Q 0 430 0 430 Q 0 430 0 430 Q 0 430 0 430 C 0 430 0 430 0 430 Q 0 430 0 430 "); stroke: #fff; }
50% { opacity: 1; d: path("M 0 430 Q 50 430 100 430 Q 250 430 350 430 C 350 430 500 430 650 430 Q 675 430 700 430 Q 790 430 800 430"); stroke: $color-blue-dark; }
100% { opacity: 1; d: path("M -2 382 Q 50 382 100 382 Q 250 382 350 382 C 400 382 550 382 650 382 Q 675 382 700 382 Q 778 382 788 500"); stroke: $color-blue-1; }
}

@keyframes LineFadeIn3 {
    0% { opacity: 0; d: path("M 0 460 Q 0 460 0 460 Q 0 460 0 460 Q 0 460 0 460 C 0 460 0 460 0 460 Q 0 460 0 460 "); stroke: #fff; }
    50% { opacity: 1; d: path("M 0 460 Q 50 460 100 460 Q 250 460 350 460 C 350 460 500 460 650 460 Q 675 460 700 460 Q 790 460 800 460"); stroke: $color-blue-dark; }
    100% { opacity: 1; d: path("M -2 394 Q 50 394 100 394 Q 250 394 350 394 C 400 394 550 394 650 394 Q 675 394 700 394 Q 766 394 776 500"); stroke: $color-blue-dark; }
    }

@keyframes ContentFadeIn {
0% { transform: translateY(-1rem); opacity: 0; }
100% { transform: translateY(0); opacity: 1; }
}

@keyframes ImageFadeIn {
0% { transform: translate(-.5rem, -.5rem) scale(1.05); opacity: 0; filter: blur(2px); }
50% { opacity: 1; filter: blur(2px); }
100% { transform: translateY(0) scale(1.0); opacity: 1; filter: blur(0); }
}