.main-component {
/*     background-color: #f7d4f7;
    min-height: 100%;
    background-image: url('./pexels-asad-photo-maldives-1450360.jpg');
    background-attachment: fixed;
    background-size: cover; */
    
    &-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 40%;
        margin: auto;
    }
    &-drinkCard {
        margin: 0 1em;
    }
    & h2 {
        //padding-top: 135px;
        display: inline-block;
        padding-top: 0.5em;
        margin-top: 0.5em;
        margin-bottom: 1em;
        background-color: #2acdc1;
        color: #04049d;
        padding: 0.5em;
        outline: 3px solid #04049d;
        outline-offset: .6rem;
        
    }
}

@media (max-width: 680px) {
    .main-component-container {
        width: 80%
    }

}
@media (max-width: 1600px) {
    .main-component-container {
        width: 60%
    }
}

@media (max-height: 715px) {
    .main-component h2 {
        margin: 0;
    }
} 


