.main-component {
    background-color: #f7d4f7;
    min-height: 100%;
    background-image: url('./pexels-asad-photo-maldives-1450360.jpg');
    background-size: cover;
    &-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    &-drinkCard {
      margin: 1em;
    }
    & h2 {
        margin-top: 1em;
        margin-bottom: 2em;
    }
}
