@import '../../styles/vars';

.recipe {
    width: 30%;
    text-align: left;
    margin: auto ;
    margin-top: 2.5em;
    padding: 1em;
    color: #fff;
    text-shadow: 1px 1px 2px #000;
    background-color: $color-beige-orange;
    border: solid $color-beige 4px;
    border-radius: 1em;
    -webkit-box-shadow: -11px 10px 29px 2px rgba(2,31,81,0.75);
    -moz-box-shadow: -11px 10px 29px 2px rgba(2,31,81,0.75);
    box-shadow: -11px 10px 29px 2px rgba(2,31,81,0.75);
    &-instruction {
        background-color: $color-blue-dark;
        padding: 1em;
        position: relative;
        left: -35px;
        border: solid$color-blue-1 4px;
        border-radius: 1em;
    }
    &-center {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin-bottom: 1em;
        &-list {
            &-container {
                margin-left: 2.5em;
                background-color: $color-blue-2;
                border: solid $color-blue-3 4px;
                padding: 3.5em;
                position: relative;
                top: 10px; 
                left: 50px;
                border-radius: 1em;
                -webkit-box-shadow: -11px 31px 70px -8px rgba(0,0,0,0.74);
                -moz-box-shadow: -11px 31px 70px -8px rgba(0,0,0,0.74);
                box-shadow: -11px 31px 70px -8px rgba(0,0,0,0.74);
            }
        }
    }
}

@media (max-width: 1460px){
    .recipe {
        width: 40%;
        &-center-list-container {
            position:relative;
            left: 80px
        }
    }
}

@media (max-width: 1100px){
    .recipe {
        width: 50%;
        &-list-container {
            position:relative;
            left: 80px
        }
    }
}

@media (max-width: 850px){
    .recipe {
        width: 70%;
        &-center-list-container {
            margin-left: 0;
            padding: 2em;
            position:relative;
            left: 70px
        }
    }
}

@media (max-width: 600px){
    .recipe {
        border-radius: none;
        width: 90%;
        &-container {
            padding-top: 180px;
        }
        &-center {
            display: flex;
            flex-direction: column;

            &-list-container {
                padding: 1em;
                margin-left: 0;
            }
        }
    }
}