.recipe {
    width: 30%;
    text-align: left;
    margin: auto ;
    margin-top: 2.5em;
    padding: 1em;
    color: #fff;
    text-shadow: 1px 1px 2px #000;
    background-color: #04049d;
    &-instruction {
        background-color: #a333c8;
        padding: 1em;
        position: relative;
        left: -35px
    }
    &-center {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin-bottom: 1em;
        &-list {
            &-container {
                margin-left: 2.5em;
                background-color: #2acdc1;
                padding: 3.5em;
                position: relative;
                top: 10px; 
                left: 50px;
            }
        }
    }
}