.searchBy {
    color: #000;
    &-btn {
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
        background-color: #7cbfc792;
        margin: auto;
        border-radius: 50%;
        height: 10em;
        width: 10em;
        
        cursor: pointer;

        &-text {
            line-height:10em;
        }

        &-icon {
            line-height:10em;
        }
    }
}
