@import '../../styles/vars';

.segment-menu {
    display: flex;
}
.nav-container{
    margin: 0;
    padding: none;
    width: 100%;
}

.ui.inverted.segment {
    background-color: $color-blue-dark;
    background: none;
    padding: 0.3em;
    margin: 0;
}

.ui.secondary.menu a.item {
    color: rgba(255, 255, 255, 1)!important;
}

.ui.secondary.pointing.menu .active.item {
    border-color: rgba(255, 255, 255, 1)!important;;
}